.main-search {
  margin: 10px 25px;
 
  .input-search {
    border-bottom: 1px solid var(--border-color);
    position: relative;
    margin: 0 -25px;
    padding: 10px 25px 20px;
    input {
      background-color: var(--bg-main-color);
      outline: none;
      border: 1px solid var(--border-color);
      padding: 7px 10px 7px 35px;
      width: 50%;
      border-radius: 5px;
      color: #fff;
    }
    svg {
      position: absolute;
      top: 45%;
      left: 30px;
      transform: translateY(-50%);
    }
  }
  .hot-search {
    margin: 30px 0;
    .list-hot-search {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .hot-search-button {
        background-color: var(--bg-sp-color);
        display: flex;
        align-items: center;
        width: auto;
        margin: 10px 20px 10px 0;
        padding: 5px 10px;
        outline: none;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        span {
          color: turquoise;
        }
        h6 {
          padding-left: 10px;
          margin-bottom: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
  .search-return {
    .list-search{
     
      display: flex;
      gap:30px;
      justify-content: center;
      border-bottom: 1px solid var(--border-color);
      h5{
        position: relative;
        padding:15px 0;
        cursor: pointer;
      }
      
    }
    .list-search-return{
      margin:50px 0 !important;
      gap:  30px 0;
      min-height:100vh;
      img{
      
        max-height:300px;
      }
      .search-item{
        padding:0 10px !important;
        h6{
          padding:7px 0;
        }
      }
    }
  }
  .search-history {
    margin-top: 30px;
    margin-bottom: 50px;
    .banner-search-history {
      display: flex;
      justify-content: space-between;
      .remove-AllSearch {
        cursor: pointer;
      }
    }
    &-list {
      button {
        width: 100%;
        background-color: var(--bg-sp-color);
        outline: none;
        display: flex;
        justify-content: flex-start;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        margin: 5px 0;
        span {
          padding: 10px 0 10px 20px;
          text-align: left;
        }
      }
    }
  }
}
@media screen and(max-width:575px) {
  .main-search {
    margin: 15px;
    .input-search {
      input {
        width: 100%;
      }
    }
  }
}
