.Chart-Category{
  margin: var(--p-25);
}
.Chart-weekly{
  .list-category{
    p{
      padding:5px 15px;
    }
  }
  .weekly-item{
    .layout-time{
      display:flex;
      align-items:center;
    }
    .top1-weekly{
      display:flex;
      .infor-top{
        &-title{

        }
        &-singer{
          img{
            width:60px;
            height:60px;
            left:-25%;
            border-radius: 50%;
          }
        }
        &-status{
          display:flex;
        }
      }
      
    }
    .list-weekly{
      &-item{
        display:flex;
        align-items: center;
        .infor-item{
          display:flex;
        }
      }
    }
  }
}