.chart__custom {
  margin: var(--p-25);

  .table {
    border-radius: 10px;
    background-color: rgba(99, 98, 98, 0.3);
    margin: 30px 0;
    .row {
      padding: 10px 0;
      margin: 0 !important;
      height: 25%;
      border-bottom: 1px solid var(--bg-main-color);
      display: flex;
      align-items: center;
      text-align: center;
    }
    .col-index,
    .col-ava,
    .col-title {
      overflow: hidden;
      text-align: center;
      padding: 0 !important;
      display: flex;
      align-items: center;
      
    }
    .col-ava{
      justify-content: space-evenly;
    }
    .col-title {
      
      
      display: flex;
      flex-direction: flex-start;
      h6{
        text-overflow: ellipsis;
        overflow: hidden;
        
        white-space: nowrap; 
      }
    }
    img {
      width: 90px;
      padding:10px;
      border-radius: 10px;
    }
    .col-artists{
      padding :0 7px !important;
      display: flex;
      flex-direction: flex-start;
      
      overflow: hidden;
      white-space: nowrap; 
      text-overflow: ellipsis;
        span:last-child{
          text-overflow: ellipsis;
          overflow: hidden;
          
          white-space: nowrap; 
        }
    }
    .col-index {
      display: flex;
      justify-content: center;
      overflow: hidden;
      span{
        font-size:30px !important;
        font-weight: 500;
      }
    }
    .index-0 span {
      color: #3e95cd;
    }
    .index-1 span {
      color: #8e5ea2;
    }
    .index-2 span {
      color: #3cba9f;
    }
    .expand-chart {
      padding: 15px ;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 20px !important;
        text-align: center;

        padding: 5px 15px 8px !important;
        border-radius: 20px;
        border: 2px solid var(--bg-main-color);
      }
    }
  }
}

@media screen and(max-width:576px) {
  .chart__custom {
    margin: var(--p-15) !important;
    canvas {
      height: 400px !important;
    }
    .table{
      .col-ava{
        img{
          width:50px !important;
          height:70px !important;
          padding:10px 0 !important;
        }
      }
    }
  }
}

