.hotVideo {
  margin: 45px 25px 0 25px;
  .video__list {
    margin: 15px 0 !important;
    display: flex;
    justify-content: center;
    gap: 10px;
    &-item {
      
      margin-bottom: 20px;
      position: relative;
      padding-bottom:50px;
      .video {
        border-radius: 5px;
        width: 100%;
        height: auto;
        
        span {
          position: absolute;
          bottom: 0;
          right: 3px;
        }
      }
      .infor__video {
        margin-top: 5px;
        text-align: left;
        position: absolute;
        height:65px;
        text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width:100%;
        h6 {
          padding-right: 7px;
          overflow: hidden;
          line-height: 30px;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p {
          width: 100%;
          padding-top: 0 !important;
          text-align: left;
          line-height: 30px;
          
        }
      }
    }
  }
}
@media screen and(max-width:654px) {
  .hotVideo {
    margin: var(--p-15);
  }
}
@media screen and(min-width:1560px) {
  .hotVideo {
    margin-top: 100px;
  }
}
