.slider-item {
  margin: 60px var(--p-25) 0;
  .slick-next::before {
    display: none;
  }
  .slick-prev::before {
    display: none;
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: 35px;
    top: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #999;
    border-radius: 5px;
    justify-content: center;
    svg {
      color: #333;
    }
  }
  .slick-list {
    margin-top: 20px;
    width: 100%;
    .slick-track {
      margin-right: 5%;
      h6 {
        text-align: center;
        margin: 10px 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .slick-slide {
        display: flex;
        div {
          width: 100% !important;
        }
      }
      nav {
        margin: 0 5%;
        width: 90% !important;
      }

      a:hover {
        text-decoration: none !important;
      }
    }
  }
}
@media screen and(max-width:1199px) {
  .slider-item {
    margin: 35px var(--p-15) 0;
  }
  .slick-list {
    margin-top: 20px !important;
  }
}
@media screen and(max-width:767px) {
  .slider-item {
    margin: 30px var(--p-15) 0;
  }
  .slick-list {
    margin-top: 20px !important;
  }
}
@media screen and(max-width:575px) {
  .slick-prev::before,
  .slick-next::before {
    font-size: 25px !important;
  }
}
@media screen and(min-width:1900px) {
  .slider-item {
    margin-top: 80px !important;
  }
}
