:root {
  --border-color: rgba(244, 246, 248, 0.1);
  --font-p-color: rgba(244, 246, 248, 0.55);
  --font-text-color: rgba(244, 246, 248, 0.8);
  --bg-menu-color: rgb(25, 25, 25);

  --bg-main-color: rgba(35, 35, 35, 0.9);
  --bg-main1-color: rgba(35, 35, 35, 0.7);
  --bg-sp-color: rgba(244, 246, 248, 0.05);
  --bg-sp1-color: rgba(255, 255, 255, 0.3);
  --hover-color: rgba(0, 255, 255, 0.6);
  --bg-listen-color: rgb(15, 15, 15);
  --p-15: 15px;
  --p-25: 25px;
  max-width:1560px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  svg{
    cursor:pointer;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li,
  button,
  a,
  svg {
    color: #edeeee;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
  }
  li{
    list-style: none;
  }
  p{
    margin-bottom:0 !important;
  }
}
.typeActive::before{
  content:'';
  position:absolute;
  width:100%;
  height:3px;
  background-color:aquamarine;
  bottom:0;
  left:0;
}

.item-animation{
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius:10px;
  img {
    vertical-align: middle;
    max-width:100%;
    transition: all 1s;
    transform: scale(1);
    border-radius: 10px;
  }
  &__mask {  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    svg:first-child{
      position: absolute;
      top: 5;
      right: 0;
      z-index: 3;
      color: #fff;
    }
    &-play {
      color:#fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      height: 50px !important;
      width: 50px !important;
    }
  }
}
  .item-animation:hover .item-animation__mask {
    opacity: 1;
    visibility: visible;
  }
  
  .item-animation:hover img {
    transform: scale(1.2);
  }
img{
  cursor: pointer;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7{
  padding:0 !important ;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #999;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
a {
  text-decoration: none !important;
}
h2 {
  font-weight: 400;
}
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
  margin-bottom:0 !important;
}
.row,.col{
  margin:0 !important;
  padding:0 !important;
}
li,
a,
span,
p,
svg {
  font-weight: 300;
}
@media screen and(max-width:575px) {
  h2 {
    font-size: 20px !important;
  }
  h5{
    font-size:18px !important;
  }
  p,span{
    font-size:14px !important;
  }
}
@media screen and(min-width:576px) {
  h2 {
    font-size: 21px !important;
  }
  h3,
  h4,
  h5 {
    font-size: 20px;
  }

  svg {
    font-size: 28px !important;
  }
  li,
  a {
    font-size: 15px;
  }
  h6,
  span,
  p {
    font-size: 14px;
  }
}
@media screen and(min-width:765px) {
  h2{
    font-size:22.5px !important;
  }
  h6 {
    font-size: 16px !important;
  }
  svg {
    font-size: 30px !important;
  }
}
@media screen and(min-width:1199px) {
  h2 {
    font-size: 26px !important;
  }
  h6,
  p {
    font-size: 15px !important;
  }
  span{
    font-size:15px !important;
  }
  svg {
    font-size: 32px !important;
  }
}
@media screen and(min-width:1559px) {
  h2 {
    font-size: 35px !important;
  }
  h6{font-size: 23px !important;}
  span,
  p {
    font-size: 20px !important;
  }
  svg {
    font-size: 40px !important;
  }
}

// for text 
.convertText {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin:auto 0;
}

