.location {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 15px 0;
  h5 {
    cursor: pointer;
    position :relative;
    padding:10px 0;
  }
}
.country {
  height: 50px;
  .explore-item {
    display: flex;
    gap: 20px;
    justify-content: center;
    p {
      cursor: pointer;
      position :relative;
      padding:10px 0;
    }
  }
}
.category-child {
  margin: 30px 15px !important;
  .category-item {
    padding: 0 10px !important;
    &-title {
      h6 {
        padding: 10px 0 5px;
      }
      margin-bottom: 20px;
    }
  }
}
